<!DOCTYPE html>
<head>
	    <link rel="stylesheet" type="text/css" href="/styles.css">
<link href="https://fonts.googleapis.com/css?family=Bangers|Bungee+Shade" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>

<body>
	<nav>
{{#if session.loggedIn}}
<a href="http://localhost:8080/">memesearch</a>
<a href="http://localhost:8080/profile">{{session.uname}}</a>
<a href="http://localhost:8080/logout">log out</a>
<a href="http://localhost:8080/uploadpage">upload</a>

{{else}}
<a href="http://localhost:8080/">memesearch</a>
<a href="http://localhost:8080/createacct">create account</a>
<a href="http://localhost:8080/login">log in</a>
{{/if}}
</nav>

<div id="top-container">

	<div id="my-profile-container">
		<p id="edit-profile"><a href="http://localhost:8080/editprofile">edit</a></p>
		<img id="profile-avvy" src="{{info.avvy}}">
	<i class="fas fa-user"></i><h2 id="profile-username">{{info.username}}</h2>

	<p id="profile-blurb">{{info.blurb}}</p>
	</div>

	<div id="my-memes-container">
		</form>
	</div>

</div>
{{log favMemes}}
<div id="root">
 	<div class ="container">
{{#if favMemes}}
{{#each favMemes}}
		<div class="meme-card">
			
 			<a href="http://localhost:8080/memes/{{this.memeId}}"><img class ="meme-img" src="{{this.imageUrl}}"></a>
 				<h4 class="meme-tags-header">
 				tagged:
 				</h4>
 			<p class="meme-tags">{{this.imageTags}}</p>
		</div>
{{/each}}
	</div>
</div>
{{else}}
<p id="no-favs">no faves yet<br> sweaty ;)</p>
{{/if}}

<p id="statusP"></p>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script src="/profile.js"></script>


</body>

<!-- enctype ="multipart/form-data" method="post" action="/upload"