<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Memesearch! // Register</title>
 <link rel="stylesheet" type="text/css" href="/styles.css">
<link href="https://fonts.googleapis.com/css?family=Bangers|Bungee+Shade" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<nav>
<a href="http://localhost:8080/">Home</a>
</nav>

<div class="login-container-div">

<h2 class="action-header">Log in :*</h2><br>
<form class="login-form"action="/authenticate"  method="post">
  <input id= "loginemail" type="text" name="loginemail" placeholder="enter ur email ;)"><br>
  <input id="loginpassword" type="text" name="loginpassword" placeholder="enter ur password"><br>
  <input type="submit" "login-submit">
  </form>
</div>


</body>
</html>